:root {
  --primary-color: #e11bb6;
  --primary-color-hover: #de09b0;
  --primary-color-disabled: #f6bbe9;
  --secondary-color: #000;
  --secondary-color-disabled: #c1c1c1;
}

button {
  border-style: none;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
